/* Overall table shape*/
table{
  border-collapse: collapse;
  width: 100%;
  table-layout: fixed;
}
th,td{
  height: 50px;
}

/* Header Style Definition*/
th{
  font-style: normal;
  font-size: larger;
  color:#191970;
  text-align: center;
  background-color: lightcyan;
  border: 3px solid #191970;
  padding: 8x;
  }

/*TIME Style Definition*/
td:nth-child(1){
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-style: normal;
  font-weight: bold;
  color: darkslateblue;
  text-align: left;
  background-color: lightsteelblue;
}

/* Default style for<td>*/
td{
  font-family: 'Times New Roman', Times, serif;
  font-style: normal;
  border: 2px solid black;
  padding: 10x;
  text-align: center;
  background-color: blanchedalmond;
}

/* Default Style <h1>, <h2>, <h4>, <h5>, <h6>*/
h1, h2, h4, h5, h6 {
  font-family: 'Courier New', Courier, monospace;
  font-style: normal;
  color: black;
  text-align: center;
}

/*Default style <h3>*/
h3{
  font-family: 'Courier New', Courier, monospace;
  font-style: normal;
  color: black;
  text-align: left;
}

/* a:link Default color*/
  a:link{
    color:blue
  }

/* a:visited Default color*/
  a:visited{
    color:rgb(50, 146, 146)
  }

/* a:active*/
  a:active{
    color:forestgreen
  }

/* a:hover cursor shape*/
a:hover{
  color: rgb(222, 65, 219);
  cursor: pointer;
}