.photo-background {
  background-image: url(images/backgroundbeach.jpg);
  background-size: cover;
  background-position: center;
  height: 400px;
  width: 100%;
  text-align: center;
  padding-top: 70px;
}

.photo-background h1 {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 100px;
  margin: 0;
  color: #cc7161;
}

.photo-background p {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: 50px;
  margin: 10px 0 0 0;
  color: #cc7161;
}

.navbar .navbar-brand,
.navbar .nav-link {
  font-family: "Times New Roman", Times, serif !important;
  font-size: 18px !important;
  font-weight: 500 !important;
  color: #000 !important;
  padding: 0.5rem 1rem !important;
}

.about-section {
  text-align: center;
}

.contact-icon {
  width: 80px;
  height: auto;
  margin-bottom: 15px;
}
